/* Body:
This style will be appied in all body section
*/
body {
    /* it removes the margin of the body section.*/
    margin:0;
    /* it sets the background color of the body for a variation of pink. */
    background-color: #fce4ec ;
    /* it adds a space on the botton so the footer does not hide the content of the page */
    padding-bottom: 60px;
}
/* End Body*/

/* Navbar:
This style was created to display the pages navigations.
I decided to use the ul structure because it is simple and flexible to implement. And it is very common to use it.
*/
ul {
    /* it removes the bullet points from the list */
    list-style-type: none;
    /* it removes the default margin and padding of the ul elements */
    margin: 0;
    padding: 0;
    /* it ensures the floating elements to stay inside the container */
    overflow: hidden;
    /* defines the background color to pink */
    background-color: #d63384;
    }
    
    li {
    /*  it makes all the li elements to float left to create a horizontal navigation*/
    float: left;
    }
    
    li a {
    /*  it makes all the element became a block and everything clickable*/
    display: block;
    /*  it sets the text color to white*/
    color: white;
    /* it centralize the text */
    text-align: center;
    /* it adds space around the link, px means pixels */
    padding: 14px 16px;
    /* it removes the underline from the link */
    text-decoration: none;
    }
    
    /* it changes the background color every time we hover over the element */
    li a:hover {
    background-color: #e83e8c;
    }

/* End Navbar */

/* Footer 
Style for the footer section.
The footer is important to display copyright and useful information
*/
footer {
    /* defines the background color to a variation of pink */
    background-color: #ffd1dc;
    /*  it sets the text color to a variation of black*/
    color: #4a4a4a;
    /* it centralizes the text */
    text-align: center;
    /* it adds space inside the footer, px means pixels */
    padding: 2px;
    /* it makes the footer fixed in the position even when the user scrolls the page */
    position: fixed;
    /* it makes the footer stays on the very bottom of the page */
    bottom: 0;
}  
/* End Footer */

/* I used this style to give more focus the content that goes to the body */
.container {
    /* it sets the width of the container using 80% of the total width of the page */
    width: 80%;
    /* it sets the margin to get the remaining space outside the content and divide it equaly in the margin */
    margin: auto;
    /* it adds a margin just on the top of the element, px means pixels */
    margin-top: 20px;
    /*it defines the background color to a variation of white */
    background-color: white;
    /* it adds space inside the element, px means pixels */
    padding: 20px;
    /* it turns the border of the pictures rounded by 10px */
    border-radius: 10px;
    /* it adds a shadow of black for 3D effect  */
    box-shadow: 3px 3px 10px #00000033;
}


/* it makes the width of the element be the same width of the page. It uses the % to make sure it stretch along with the page width that can be variable */
.width100 {
    width: 100%;
}

/* this block of code applies the style inside if the width of the page is 768px or smaller.
This value is set to include a good style for tables and smartphones.
It is used to make the content responsive.  */
@media screen and (max-width: 768px) {
    /* this block modifies the style set for the width50, it makes the width 100%. 
    In small screens, if I use 50% the content gets too small, so it adjusts to 100%. */
    .width50 {
        /* the important tag is to make sure the style is applied, it override all previous styles */
        width: 100% !important;
    }
}

/* it makes the width of the element be 50% of the width of the page. It uses the % to make sure it stretch along with the page width that can be variable */
.width50 {
    width: 50%;
}  

/* it styles all the h2 elements of the pages */
h2 {
    /*  it sets the text color to a variation of pink*/
    color:#d63384;
    /* it centralizes the text */
    text-align: center;
    /* it makes the text bold*/
    font-weight: bold;
}

/* it styles all the images */
img {
    /* it turns the border of the pictures rounded by 10px */
    border-radius: 10px;
}

/* I created this style to set all the references used to the website, to make it more discrete */
.reference-text {
    /*  it sets the text color to a variation of black*/
    color: #4a4a4a;
    /* it sets the font to a smaller version */
    font-size: small;
    /* it adds space between the word and the edge of the element, px means pixels */
    padding: 1px;
}